.v6_page {
	width: 100%;
	margin: 0;
	padding: 0;
}

.v6_content {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	min-height: 80vh;
	width: 100%;
	height: calc(100vh - 120px);
}

div {
	cursor: default;
}

.v6_swLogo {
	width: 100%;
	height: 100px;
	background-color: black;
}

.v6_button {
	padding: 0 .5rem;
}
.v6_button:hover {
	background-color: #111;
	cursor: pointer;
}

.v6_terms {
	box-sizing: border-box;
	width: max-content;
	padding: 1rem 3rem;
	text-align: left;
}

.v6_menu {
	height: 290px;
	width: max-content;
	min-width: 240px;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.v6_menuItems {
	flex: 1;
}

.hidden {
	color: transparent;
}

.v6_loaderBox {
	height: 290px;
	width: max-content;
	min-width: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 50px;
}

@media screen and (max-width: 1100px) {
	.v6_content {
		justify-content: space-evenly;
		height: auto;
		padding: 0 10%;
	}
}

@media screen and (max-width: 700px) {
	.v6_content {
		justify-content: space-evenly;
		height: auto;
		padding: 0;
		flex-direction: row;
	}
}

@media screen and (max-width: 605px) {
	.v6_content {
		justify-content: space-evenly;
		height: auto;
		padding: 0;
		flex-direction: column;
	}

	.v6_terms {
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: left;
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	.v6_menu {
		height: auto;
		width: 100%;
		min-width: 140px;
		padding: 1rem 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.v6_swLogo {
		width: auto;
		height: 100px;
		background-color: black;
		/* display: flex;
		justify-content: flex-end; */
		float: right;
		margin-right: 15px;
	}

	.v6_button {
		padding: 0 .6rem;
	}

	.v6_category {
		background-color: #111;
		margin: .2rem;
		padding: .3rem .6rem;
		border-radius: 4px;
	}

	.v6_loaderBox {
		height: 290px;
		width: 100%;
		min-width: none;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 50px;
	}
}
