.v6_loaderBar-box {
	box-sizing: border-box;
	height: 1.6rem;
	width: 50px;
	/* background-color: dimgray; */
	padding: .2rem 0;
}

.v6_loader-bar {
	margin-top: .5rem;
	height: .4rem;
	animation: grow 5s ease-in-out forwards;
	background-color: #ffe82f;
	opacity: .1;
}

@keyframes grow {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}
