.app {
	text-align: center;
	height: 100vh;
	color: #aaa;
	font-weight: bold;
	letter-spacing: 1px;
	box-sizing: border-box;
	/* background-color: yellowgreen; */
}

.select {
	position: absolute;
	top: 2px;
	left: 1px;
	padding: 0;
}

select:active {
	outline: none;
}
select:focus {
	outline: none;
}

.go-box {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.go-button {
	border: none;
	padding: 1rem 2rem;
	font-size: 2rem;
	border: solid 3px;
	border-radius: 1rem;
	background-color: black;
	color: #ccc;
}

.go-button:hover {
	background-color: #111;
}
