.app {
	text-align: center;
	height: 100vh;
	color: #aaa;
	font-weight: bold;
	letter-spacing: 1px;
	box-sizing: border-box;
	/* background-color: yellowgreen; */
}

.select {
	position: absolute;
	top: .5rem;
	left: .5rem;

	color: #ccc;
	background-color: transparent;
	border: 2px solid #999;
	padding: .5rem 1rem;
	border-radius: .2rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	letter-spacing: .1rem;
}

select:active {
	outline: none;
}
select:focus {
	outline: none;
}

option {
	background-color: #222;
	letter-spacing: .1rem;
}
