.intro__welcome-box {
	box-sizing: border-box;
	text-align: center;
	height: 100vh;
	color: #aaa;
	font-weight: bold;
	letter-spacing: 1px;
	/* background-color: yellowgreen; */
}

.intro__star-wars {
	/* min-height: 20vh; */
	height: calc(50% - 40px);
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro__star-wars > img {
	/* height: 20vh; */
	height: 100%;
	width: 30vw;
}

.intro__go-box {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro__go-button {
	border: none;
	padding: 1rem 2rem;
	font-size: 2rem;
	border: solid 3px;
	border-radius: 1rem;
	background-color: black;
	color: #ccc;
}

.intro__go-button:hover {
	background-color: #111;
}
